<!-- <div class="container"> -->
<div class="row">
  <form>
    <div class="row above-bg">
      <div class="input-field col s3">
        <input id="first_name" type="text" ng-model="student.first_name" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s3">
        <input id="last_name" type="text" ng-model="student.last_name" class="validate">
        <label for="last_name">Last Name</label>
      </div>
      <div class="input-field col s3">
        <select ng-options="cohort as cohort.name for cohort in cohorts"
            ng-model="cohort.name" ng-change="populateServerside(cohort)">
            <option value="" disabled selected>Cohort</option>
        </select>
      </div>
      <div class="input-field col s3">
        <input id="server-side" type="text" ng-value="{{server_side}}" ng-model="student.server_side" class="validate">
        <label for="server-side">Server-Side Language</label>
      </div>
    </div>
  </form>
</div>


  <div class="row">
    <div class="col m4 above-bg">
      <form>
        <!-- Input File Upload Row: personal_img-->
        <div class="row">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Picture</span>
                <input type="file" ng-model="personal_img" ngf-select id="personal_img">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light light-green valign" ng-if="personal_img" ng-click="uploadImage('personal_img', personal_img)"><i class="material-icons">{{status.personal_img}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_draft-->
        <div class="row">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Draft</span>
                <input type="file" ng-model="resume_draft" ngf-select id="resume_draft">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light light-green valign" ng-if="resume_draft" ng-click="uploadImage('resume_draft', resume_draft)"><i class="material-icons">{{status.resume_draft}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_final -->
        <div class="row">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Final</span>
                <input type="file" ng-model="resume_final" ngf-select id="resume_final">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light light-green valign" ng-if="resume_final" ng-click="uploadImage('resume_final', resume_final)"><i class="material-icons">{{status.resume_final}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_demo -->
        <div class="row">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Demo</span>
                <input type="file" ng-model="resume_demo" ngf-select id="resume_demo">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light light-green valign" ng-if="resume_demo" ng-click="uploadImage('resume_demo', resume_demo)"><i class="material-icons">{{status.resume_demo}}</i></a>
          </div>
        </div>

        <!-- Input Row: portfolio_site -->
        <div class="row">
          <div class="input-field col s12">
            <input id="portfolio_site" ng-model="student.portfolio_site" type="url" class="validate">
            <label for="portfolio_site" data-error="not a valid website">Portfolio Site</label>
          </div>
        </div>
      </form>
    </div>

    <div class="col m7 offset-m1 less-above-bg">
      <div class="row container-less">
        <h4 class="center">Pre-NSS Background</h4>
        <select multiple class="center" ng-options="pre as pre for pre in previous"
            ng-model="pre" ng-value="pre" ng-change="updateStudent('previous_experience', pre)">
            <option value="" disabled selected>Previous Experience</option>
        </select>
      </div>

      <div class="row container-less">
        <div class="input-field col s12">
          <textarea id="previous_experience_notes" ng-model="student.previous_experience_notes" class="materialize-textarea"></textarea>
          <label for="previous_experience_notes">Previous experience notes:</label>
        </div>
      </div>

      <div class="row container-less">
        <h4 class="center">Student Info</h4>
        <select class="center" ng-options="devType as devType for devType in devTypes"
            ng-model="devType" ng-value="devType" ng-change="updateStudent('dev_type', devType)">
            <option value="" disabled selected>Type of Development</option>
        </select>
      </div>

      <div class="row container-less">
        <div class="input-field col s12">
          <textarea id="type_of_dev_notes" ng-model="student.type_of_dev_notes" class="materialize-textarea"></textarea>
          <label for="type_of_dev_notes">Type of development notes:</label>
        </div>
      </div>


      <div class="row container-less">
        <select multiple class="center" ng-options="companyType as companyType for companyType in companyTypes"
            ng-model="companyType" ng-value="companyType" ng-change="updateStudent('company_type', companyType)">
            <option value="" disabled selected>Type of Company Preferred</option>
        </select>
      </div>

      <div class="row container-less">
        <div class="input-field col s12">
          <textarea id="type_of_co_notes" ng-model="student.type_of_co_preferred_notes" class="materialize-textarea"></textarea>
          <label for="type_of_co_notes">Type of company preferred notes:</label>
        </div>
      </div>

      <div class="row container-less">
        <div class="input-field col s12">
          <textarea id="target_co" ng-model="student.target_companies" class="materialize-textarea"></textarea>
          <label for="target_co">Target Companies</label>
        </div>
      </div>

      <div class="row container-less">
        <div class="input-field col s12">
          <textarea id="networking_notes" ng-model="student.networking_notes" class="materialize-textarea"></textarea>
          <label for="networking_notes">Networking notes:</label>
        </div>
      </div>

      <div class="row container-less">
        <select multiple class="center" ng-options="areaOfInterest as areaOfInterest for areaOfInterest in areaOfInterests"
            ng-model="areaOfInterest" ng-value="areaOfInterest" ng-change="updateStudent('area_of_interest', areaOfInterest)">
            <option value="" disabled selected>Areas of interest</option>
        </select>
      </div>

      <div class="row container-less">
       <div class="input-field col s12">
         <input id="area_of_interest_other" type="text" ng-model="areaOfInterestTemp" class="validate" ng-keypress="updateKeyPress($event)">
         <label for="area_of_interest_other">Areas of interest other</label>
       </div>
     </div>

     <div class="row container-less">
       <p>Self Described Traits:</p>
       <div class="chips chips-autocomplete chips-placeholder"></div>
     </div>



    </div>
</div>
