<div class="row">
  <div class="col m4 above-bg">
    <form>
      <div class="file-field input-field">
        <div class="btn">
          <span>Picture</span>
          <input type="file" ng-model="personal_img">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
        <a class="btn-floating btn-large waves-effect waves-light light-green" ng-click="uploadImage('personalImg', personal_img)"><i class="material-icons">add</i></a>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Resume Draft 1</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
  </div>

  <div class="col m8 above-bg">

  </div>
</div>
