#splash-page {
  background-color: rgba(white, 0.8);
  position: relative;
  top: 20px;
  z-index: 1000;

  .btn-floating {
    margin: 10px 0;
  }

  .card-title {
    background-color: rgba(teal, 0.8);
    color: white;
    width: 100%;
  }

  .card-content {
    font-size: 20px;
    padding: 1%;
  }

}

// Card-Display Container
.card-image-set-height img {
  max-height: 200px !important;
  object-fit: contain;
}
