#other-notes {
  width: 30%;
  position: fixed;
  left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 2%;
  max-height: 160px;
  background-color: rgba(teal, 0.8);
  z-index: 1000;
  color: white !important;

  textarea {
    max-height: 60px;
    overflow-y: auto;
  }

  label {
    font-size: 16px;
    color: white;
  }
}

#stick-update {
  width: 30%;
  position: fixed;
  left: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 20%;
  max-height: 160px;
  z-index: 1000;
  color: white !important;
}
