<!-- <div class="container"> -->
<div class="row">
  <form>
    <div class="row above-bg">
      <div class="input-field col s3">
        <input id="first_name" type="text" ng-model="student.first_name" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s3">
        <input id="last_name" type="text" ng-model="student.last_name" class="validate">
        <label for="last_name">Last Name</label>
      </div>
      <div class="input-field col s3">
        <select ng-options="cohort as cohort.name for cohort in cohorts"
            ng-model="cohort.name" ng-value="student.cohort_name" ng-change="populateServerside(cohort)">
            <option value="" selected disabled>Cohort</option>
        </select>
      </div>
      <div class="input-field col s3">
        <input id="server-side" type="text" ng-value="{{server_side}}" ng-model="student.server_side" class="validate">
        <label for="server-side">Server-Side Language</label>
      </div>
    </div>
  </form>
</div>


  <div class="row">
    <div class="col m4 above-bg">
      <form>
        <!-- Input File Upload Row: personal_img-->
        <div class="row no-margin">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Picture</span>
                <input type="file" ng-model="personal_img" ngf-select id="personal_img">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect waves-light teal valign buffer" ng-if="student.personal_img && !personal_img"><i class="material-icons">check</i></a>
            <a class="btn-floating btn-large waves-effect waves-light light-green valign buffer" ng-if="personal_img" ng-click="uploadImage('personal_img', personal_img)"><i class="material-icons">{{status.personal_img}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_draft-->
        <div class="row no-margin">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Draft</span>
                <input type="file" ng-model="resume_draft" ngf-select id="resume_draft">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect buffer waves-light teal valign" ng-if="student.resume_draft && !resume_draft"><i class="material-icons">check</i></a>
            <a class="btn-floating btn-large waves-effect buffer waves-light light-green valign" ng-if="resume_draft" ng-click="uploadImage('resume_draft', resume_draft)"><i class="material-icons">{{status.resume_draft}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_final -->
        <div class="row no-margin">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Final</span>
                <input type="file" ng-model="resume_final" ngf-select id="resume_final">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect buffer waves-light teal valign" ng-if="student.resume_final && !resume_final"><i class="material-icons">check</i></a>
            <a class="btn-floating btn-large waves-effect buffer waves-light light-green valign" ng-if="resume_final" ng-click="uploadImage('resume_final', resume_final)"><i class="material-icons">{{status.resume_final}}</i></a>
          </div>
        </div>

        <!-- Input File Upload Row: resume_demo -->
        <div class="row no-margin">
          <div class="col m9">
            <div class="file-field input-field">
              <div class="btn">
                <span>Resume Demo</span>
                <input type="file" ng-model="resume_demo" ngf-select id="resume_demo">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>

          <div class="col m3 valign-wrapper">
            <a class="btn-floating btn-large waves-effect buffer waves-light teal valign" ng-if="student.resume_demo && !resume_demo"><i class="material-icons">check</i></a>
            <a class="btn-floating btn-large waves-effect buffer waves-light light-green valign" ng-if="resume_demo" ng-click="uploadImage('resume_demo', resume_demo)"><i class="material-icons">{{status.resume_demo}}</i></a>
          </div>
        </div>

        <!-- Input Row: portfolio_site -->
        <div class="row no-margin">
          <div class="input-field col s12">
            <input id="portfolio_site" ng-model="student.portfolio_site" type="text" class="validate">
            <label for="portfolio_site" data-error="not a valid website">Portfolio Site</label>
          </div>
        </div>

      </form>
    </div>

    <div id="stick-update">
      <div class="row buffer">
        <div class="col s6 offset-s3">
          <button class="center btn-large deep-purple lighten-1" type="button" name="button" ng-click="submitStudentNoReturn()">{{submitMessage}}</button>
        </div>
      </div>
    </div>

    <div id="other-notes">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="meeting_notes" class="materialize-textarea" ng-model="student.other_notes"></textarea>
          <label for="meeting_notes">Other Meeting Notes</label>
        </div>
      </div>
    </div>

    <div class="col m7 offset-m1 less-above-bg">
      <form>
        <div id="pre-nss">
          <div class="row container-less">
            <h4 class="center">Pre-NSS Background</h4>
            <select multiple class="center" ng-options="pre as pre for pre in previous"
                ng-model="student.previous_experience" ng-value="student.previous_experience" ng-change="updateStudent('previous_experience', student.previous_experience)">
                <option value="" disabled selected>Previous Experience</option>
            </select>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="previous_experience_notes" ng-model="student.previous_experience_notes" class="materialize-textarea"></textarea>
              <label for="previous_experience_notes">Previous experience notes:</label>
            </div>
          </div>
        </div>

        <div id="student-info">
          <div class="row container-less">
            <h4 class="center">Student Info</h4>
            <select class="center" ng-options="devType as devType for devType in devTypes"
                ng-model="student.dev_type" ng-value="student.dev_type" ng-change="updateStudent('dev_type', student.dev_type)">
                <option value="" disabled selected>Type of Development</option>
            </select>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="type_of_dev_notes" ng-model="student.type_of_dev_notes" class="materialize-textarea"></textarea>
              <label for="type_of_dev_notes">Type of development notes:</label>
            </div>
          </div>


          <div class="row container-less">
            <select multiple class="center" ng-options="companyType as companyType for companyType in companyTypes"
                ng-model="student.company_type" ng-value="student.company_type" ng-change="updateStudent('company_type', student.company_type)">
                <option value="" disabled selected>Type of Company Preferred</option>
            </select>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="type_of_co_notes" ng-model="student.type_of_co_preferred_notes" class="materialize-textarea"></textarea>
              <label for="type_of_co_notes">Type of company preferred notes:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="target_co" ng-model="student.target_companies" class="materialize-textarea"></textarea>
              <label for="target_co">Target Companies</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="networking_notes" ng-model="student.networking_notes" class="materialize-textarea"></textarea>
              <label for="networking_notes">Networking notes:</label>
            </div>
          </div>

          <div class="row container-less">
            <select multiple class="center" ng-options="areaOfInterest as areaOfInterest for areaOfInterest in areaOfInterests"
                ng-model="student.area_of_interest" ng-value="student.area_of_interest" ng-change="updateStudent('area_of_interest', student.area_of_interest)">
                <option value="" disabled selected>Areas of interest</option>
            </select>
          </div>

          <div class="row container-less">
           <div class="input-field col s12">
             <input id="area_of_interest_other" type="text" ng-model="areaOfInterestTemp" class="validate" ng-keypress="updateKeyPress($event)">
             <label for="area_of_interest_other">Areas of interest other</label>
           </div>
         </div>

         <div class="row container-less">
           <p>Self Described Traits:</p>
           <div id="self" class="chips chips-autocomplete chips-placeholder"></div>
         </div>
        </div>

        <div id="resume_review">
          <div class="row container-less">
            <h4 class="center">Resume Review</h4>
            <div class="input-field col s12">
              <textarea id="resume_formatting" ng-model="student.resume.formatting" class="materialize-textarea"></textarea>
              <label for="resume_formatting">Resume Formatting:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="resume_job_description" ng-model="student.resume.nss_job_description" class="materialize-textarea"></textarea>
              <label for="resume_job_description">NSS Job Description:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="previous_work_history" ng-model="student.resume.previous_work_history" class="materialize-textarea"></textarea>
              <label for="previous_work_history">Previous Work History:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="projects" ng-model="student.resume.projects" class="materialize-textarea"></textarea>
              <label for="projects">Projects:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="general" ng-model="student.resume.general" class="materialize-textarea"></textarea>
              <label for="general">General:</label>
            </div>
          </div>
        </div>

        <div id="linkedin_review">
          <div class="row container-less">
            <h4 class="center">LinkedIn Review</h4>
            <div class="input-field col s12">
              <textarea id="linkedin_summary" ng-model="student.linkedin.summary" class="materialize-textarea"></textarea>
              <label for="linkedin_summary">Summary:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="linkedin_job_description" ng-model="student.linkedin.nss_job_description" class="materialize-textarea"></textarea>
              <label for="linkedin_job_description">NSS Job Description:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="linkedin_work_history" ng-model="student.linkedin.previous_work_history" class="materialize-textarea"></textarea>
              <label for="linkedin_work_history">Previous Work History:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="linkedin_projects" ng-model="student.linkedin.projects" class="materialize-textarea"></textarea>
              <label for="linkedin_projects">Projects:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="linkedin_general" ng-model="student.linkedin.general" class="materialize-textarea"></textarea>
              <label for="linkedin_general">General:</label>
            </div>
          </div>
        </div>

        <div id="portfolio_site_review">
          <div class="row container-less">
            <h4 class="center">Portfolio Site Review</h4>
            <div class="input-field col s12">
              <textarea id="portfolio_site_format" ng-model="student.portfolio.format" class="materialize-textarea"></textarea>
              <label for="portfolio_site_summary">Formatting and Styling:</label>
            </div>
          </div>

          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="portfolio_site_projects" ng-model="student.portfolio.projects" class="materialize-textarea"></textarea>
              <label for="portfolio_site_projects">Projects:</label>
            </div>
          </div>


          <div class="row container-less">
            <div class="input-field col s12">
              <textarea id="portfolio_site_general" ng-model="student.portfolio.general" class="materialize-textarea"></textarea>
              <label for="portfolio_site_general">General:</label>
            </div>
          </div>
        </div>

        <div id="student_concerns">
          <div class="row container-less">
            <h4 class="center">Student Concerns</h4>
            <div class="input-field col s12">
              <textarea id="student_concerns" ng-model="student.student_concerns" class="materialize-textarea"></textarea>
              <label for="student_concerns">Student Concerns:</label>
            </div>
          </div>
        </div>

        <div id="observed_characteristcs">
          <div class="row container-less">
            <h4 class="center">Observed Characteristics</h4>
            <div class="row container-less">
              <p>Observed Traits:</p>
              <div id="observed" class="chips chips-autocomplete chips-placeholder"></div>
            </div>
          </div>
        </div>

        <div id="student_concerns">
          <div class="row container-less">
            <h4 class="center">Prediction</h4>
            <div class="input-field col s12">
              <textarea id="prediction" ng-model="student.prediction" class="materialize-textarea"></textarea>
              <label for="prediction">Prediction:</label>
            </div>
          </div>
        </div>

        <div class="row buffer">
          <div class="col s4 offset-s4">
            <button class="center btn-large deep-purple lighten-1" type="button" name="button" ng-click="submitStudent()">{{submitMessage}}</button>
          </div>
        </div>
      </form>
    </div>
</div>
