<div class="container-less" id="splash-page">
  <div class="row">
    <div class="col m11">
      <h4 class="center">NSS Students</h4>
    </div>
    <div class="col m1 valign-wrapper">
      <a href="/#!/input" class="btn-floating btn-large waves-effect waves-light light-green valign"><i class="material-icons">person_add</i></a>
    </div>
  </div>


  <div id="card-container" class="row container-less">
    <div class="col s12 m6 l3" ng-repeat="student in students track by $index">
      <div class="card">
        <div class="card-image card-image-set-height">
          <img ng-src={{student.personal_img?student.personal_img:'http://semantic-ui.com/images/avatar2/large/rachel.png'}}>
          <span class="card-title">{{student.first_name}} {{student.last_name}}</span>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="col m6">
              <p>{{student.cohort_name}}</p>
              <p>{{student.server_side}}</p>
            </div>
            <div class="col m6">
              <a class="left btn-floating halfway-fab waves-effect waves-light blue-grey" ng-href="/#/individual/{{student.id}}"><i class="material-icons">edit</i></a>
              <a class="right btn-floating halfway-fab waves-effect waves-light teal lighten-1" ng-href="/#/login/{{student.id}}"><i class="material-icons">face</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
